body,
h1,
h2,
h3,
h4,
h5,
ul,
ol,
p {
  margin: 0;
}
html,
body,
#root,
.App {
  height: 100%;
}
.App {
  box-sizing: border-box;
  padding: 20px;
  position: relative;
}
.App .ant-tabs-bar {
  margin-bottom: 0;
}
.App .ant-tabs-tabpane {
  background: #fff;
}
.App .ant-tabs-tabpane .tabs-wrap {
  padding: 15px;
}
.App .editable-cell-value-wrap {
  padding: 5px;
  min-width: 150px;
  box-sizing: border-box;
  height: 30px;
}
.App .editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}
.main-menu {
  background: #001529;
}
.main-menu .ant-menu-submenu-title {
  color: #fff;
}
.main-menu .ant-menu {
  background: #001529 !important;
  color: #fff;
}
.main-menu .ant-menu .ant-menu-item a {
  color: #fff;
}
.main-menu .ant-menu .ant-menu-item-selected {
  background: #39476b;
}
.main-menu .ant-menu .ant-menu-item-selected a {
  color: #1890ff;
}
.route-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}
.router-enter-done {
  transition: 300ms;
}
.route-enter-active {
  opacity: 1;
  transition: 500ms;
}
.route-exit {
  opacity: 1;
}
.route-exit-done {
  transition: 300ms;
}
.router-exit-active {
  opacity: 0;
  transition: 500ms;
}
.fade-enter {
  opacity: 0;
}
.fade-enter-done {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-done {
  opacity: 0;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 1s ease-in;
}
.transform-enter {
  transform: translateX(-100%);
}
.transform-enter-done {
  transform: translateX(0);
}
.transform-enter-active {
  transform: translateX(0);
  transition: transform 0.5s ease-in;
  position: absolute;
  width: 100%;
  left: 0;
  top: 20px;
}
.transform-exit {
  transform: translateX(0);
}
.transform-exit-active {
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  position: absolute;
  left: 0;
  top: 20px;
  width: 100%;
}
.transform-exit-done {
  transform: translateX(100%);
}
