body,
h1,
h2,
h3,
h4,
h5,
ul,
ol,
p {
  margin: 0;
}
body * {
  font-size: 12px;
}
html,
body,
#root,
.App {
  height: 100%;
}
.test-wrap {
  position: fixed;
  /*
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;*/
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.7) !important;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9999999;
  justify-content: center;
}
.loading-wrap {
  /*&>div:nth-child(1){
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
  }*/
}
.loading-wrap .ant-spin-container {
  height: 100%;
  color: #fff;
}
.editable-row td {
  padding: 5px !important;
}
.editable-row td .ant-form-item {
  margin: 0 !important;
}
.bigSize svg {
  font-size: 20px;
}
.App {
  box-sizing: border-box;
  padding: 20px;
  position: relative;
}
.App .ant-tabs-bar {
  margin-bottom: 0;
}
.App .ant-tabs-tabpane {
  background: #fff;
}
.App .ant-tabs-tabpane .ant-tree-treenode-switcher-close {
  padding: 8px 0;
}
.App .ant-tabs-tabpane .ant-tree-node-content-wrapper {
  width: 85%;
}
.App .ant-tabs-tabpane .tabs-wrap {
  padding: 15px;
}
.App .ant-tabs-tabpane .tabs-wrap .ant-form-item label {
  font-size: 12px !important;
}
.App .ant-tabs-tabpane .tabs-wrap .form-inline {
  display: flex;
  align-items: center;
}
.App .ant-tabs-tabpane .tabs-wrap .form-inline .tips {
  margin-left: 20px;
}
.App .ant-tabs-tabpane .tabs-wrap .form-inline .tips span {
  cursor: pointer;
  color: #f4ab37;
}
.App .ant-tabs-tabpane .ant-table {
  font-size: 12px;
}
.App .ant-tabs-tabpane .ant-table th {
  font-weight: bold;
}
.App .ant-tabs-tabpane .main-container {
  padding: 10px;
}
.App .editable-cell-value-wrap {
  padding: 5px;
  min-width: 150px;
  box-sizing: border-box;
  height: 30px;
}
.App .editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}
.main-menu {
  background: #001529;
}
.main-menu .ant-menu-submenu-title {
  color: #fff;
}
.main-menu .ant-menu {
  background: #001529 !important;
  color: #fff;
}
.main-menu .ant-menu .ant-menu-item a {
  color: #fff;
  font-size: 14px;
}
.main-menu .ant-menu .ant-menu-item-selected {
  background: #39476b;
}
.main-menu .ant-menu .ant-menu-item-selected a {
  color: #1890ff;
}
.route-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}
.router-enter-done {
  transition: 300ms;
}
.route-enter-active {
  opacity: 1;
  transition: 500ms;
}
.route-exit {
  opacity: 1;
}
.route-exit-done {
  transition: 300ms;
}
.router-exit-active {
  opacity: 0;
  transition: 500ms;
}
.fade-enter {
  opacity: 0;
}
.fade-enter-done {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-done {
  opacity: 0;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 1s ease-in;
}
.transform-enter {
  transform: translateX(-100%);
}
.transform-enter-done {
  transform: translateX(0);
}
.transform-enter-active {
  transform: translateX(0);
  transition: transform 0.5s ease-in;
  position: absolute;
  width: 100%;
  left: 0;
  top: 20px;
}
.transform-exit {
  transform: translateX(0);
}
.transform-exit-active {
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  position: absolute;
  left: 0;
  top: 20px;
  width: 100%;
}
.transform-exit-done {
  transform: translateX(100%);
}
.custom-table td {
  padding: 8px 16px !important;
}
.validate-icon {
  display: flex;
  align-items: center;
}
.validate-icon span {
  margin-left: 10px;
  font-size: 14px;
}
.validate-icon svg {
  font-size: 30px;
}
.ant-modal-header {
  background: #EDF1F2;
  font-size: 18px !important;
}
