.container {
  padding: 10px;
  .form-row{
    display: flex;
    align-items: flex-end;
    .custom-upload {
      width: 85%;
    }
  }

  .upload-wrap {
    display: flex;
    align-items: center;

    .tips {
      color: rgb(230, 162, 60);
      margin-left: 15px;
    }
  }
}